<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yangyan.xxp.yangyannew">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name=".app.YangYanApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".mvp.ui.activity.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- 主页 -->
        <activity
            android:name=".mvp.ui.activity.MainActivity"
            android:screenOrientation="portrait" />
        <!-- 登录页面 -->
        <activity
            android:name=".mvp.ui.activity.LoginActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <!-- 祖册页面 -->
        <activity
            android:name=".mvp.ui.activity.SignUpActivity"
            android:screenOrientation="portrait" />
        <!-- 套图详情页面 -->
        <activity
            android:name=".mvp.ui.activity.ImageCollectionActivity"
            android:screenOrientation="portrait" />
        <!-- 画廊页面 -->
        <activity
            android:name=".mvp.ui.activity.GalleryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/UCropActivityTheme"/>
        <!-- 添加收藏夹 -->
        <activity
            android:name=".mvp.ui.activity.AddFavoriteActivity"
            android:screenOrientation="portrait" />

        <!-- 收藏夹页面 -->
        <activity
            android:name=".mvp.ui.activity.FavoriteListActivity"
            android:screenOrientation="portrait" />

        <!-- 收藏夹的图片列表 -->
        <activity
            android:name=".mvp.ui.activity.FavoriteImageListActivity"
            android:screenOrientation="portrait" />
        <!--关于页面-->
        <activity android:name=".mvp.ui.activity.AboutActivity"
            android:screenOrientation="portrait" >

        </activity>

        <service android:name=".mvp.ui.service.DownloadService" />

        <meta-data
            android:name="com.yangyan.xxp.yangyannew.app.GlobalConfiguration"
            android:value="ConfigModule" />

        <meta-data
            android:name="design_width_in_dp"
            android:value="768"/>
        <meta-data
            android:name="design_height_in_dp"
            android:value="1280"/>

    </application>

</manifest>